
      <!-- main area -->
      <div class="main-content">
       <div class="row">
          <div class="col-md-12">
            <div class="panel mb25">
            <div class="panel-heading border">
              <div class="row">
              <div class="col-md-3 pull-left">
                <strong>Access Info</strong>

              </div>
              <div class="col-md-9 text-right">
                <button type="button" class="btn btn-primary btn-sm">Next</button>
              </div>
              </div>
              </div>
              <div class="panel-body"> 
              <div class="row">
                  <div class="col-md-3 col-md-offset-1">
                  <label>Access url</label>
                  </div>
                  <div class="col-md-3">
                  <label>vidhya.gatepass.com</label>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-3 col-md-offset-1">
                  <label>Association access email</label>
                  </div>
                  <div class="col-md-3">
                  <label>vidhya@gatepass.com</label>
                  </div>
              </div>
              </div>


      </div>
      </div>
      </div>



      <div class="row">
          <div class="col-md-12">
            <div class="panel mb25">
            <div class="panel-heading border">
              <div class="row">
              <div class="col-md-3 pull-left">
                <strong>Recurring Payment(monthly)</strong>
              </div>
              <div class="col-md-9 text-right">
                <button type="button" class="btn btn-success btn-sm">Payment History</button> 
                <button type="button" class="btn btn-primary btn-sm">Next</button>
              </div>
              </div>
              </div>
              <div class="panel-body"> 
              <div class="row">
                  <div class="col-md-3 col-md-offset-1">
                  <label>Amount</label>
                  </div>
                  <div class="col-md-3">
                  <label>₹60,000/-</label>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-3 col-md-offset-1">
                  <label>Next Payment Reminder</label>
                  </div>
                  <div class="col-md-3">
                  <label>₹60,000/- on 12/10/2017</label>
                  </div>
              </div>
              </div>
      </div>
      </div>
      </div>


      <div class="row">
          <div class="col-md-12">
            <div class="panel mb25">
            <div class="panel-heading border">
              <div class="row">
              <div class="col-md-3 pull-left">
                <strong>Contact Information</strong>

              </div>
              <div class="col-md-9 text-right">
                <button type="button" class="btn btn-primary btn-sm">Next</button>
              </div>
              </div>
              </div>
              <div class="panel-body"> 
              <div class="row">
                  <div class="col-md-3 col-md-offset-1">
                  <label>Address</label>
                  </div>
                  <div class="col-md-3">
                  <label>#3, Baker's Street <br/> Bangalore - 508457, Karnataka</label>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-3 col-md-offset-1">
                  <label>Contact Person</label>
                  </div>
                  <div class="col-md-3">
                  <label>Vimal</label>
                  </div>
              </div>
               <div class="row">
                  <div class="col-md-3 col-md-offset-1">
                  <label>Contact Number</label>
                  </div>
                  <div class="col-md-3">
                  <label>+91 98985 98985</label>
                  </div>
              </div>
              </div>
            </div>
      </div>
      </div>


       <div class="row">
          <div class="col-md-12">
            <div class="panel mb25">
            <div class="panel-heading border">
              <div class="row">
              <div class="col-md-3 pull-left">
                <strong>Configuration</strong>
              </div>
              </div>
              </div>
              <div class="panel-body"> 
              <div class="row">
                 <div class="demo-button col-md-offset-1">
                  <button type="button" class="btn btn-primary btn-outline">Gate</button>
                  <button type="button" class="btn btn-primary btn-outline">Device</button>
                  <button type="button" class="btn btn-primary btn-outline">Blocks</button> <br/>
                  <button type="button" class="btn btn-success btn-outline">Flats</button>
                  <button type="button" class="btn btn-success btn-outline">Residents</button>
                  <button type="button" class="btn btn-success btn-outline">Securities</button> <br/>
                  <button type="button" class="btn btn-warning btn-outline">Service</button>
                  <button type="button" class="btn btn-warning btn-outline">Emergency Contacts</button>
                  
                </div>
              </div>
              
              </div>


      </div>
      </div>
      </div>



      </div>
      
      <!-- /main area -->