   <div class="col-sm-11">
            <div class="box-tab">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">Block 1</a>
                </li>
                <li><a href="#pro" data-toggle="tab">Block 2</a>
                </li>
                <li><a href="#about" data-toggle="tab">Block 3</a>
                </li>
                <li><a href="#contacts" data-toggle="tab">Block 4</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active in" id="home">
                <div class="row">
                  <div class="col-md-11">
                    <section class="widget bg-white">
                      <div class="widget-details">
                        <a href="javascript:;" class="pull-left relative">
                          <img src="images/avatar.jpg" class="avatar avatar-sm img-circle bordered" alt="">
                        </a>
                      </div>
                          <div class="row">
                              <div class="col-md-4">
                                <span class="h5 bold">Flat No: 1</span> &emsp; | &emsp;
                                <span class="h5 bold">Floor No: 0</span>
                              </div>
                              <div class=" col-md-offset-3 col-md-5">
                                <span class="h5 bold">Total Residient: 5</span> &emsp; | &emsp;
                                  <span class="h5 bold">Owner: Kiran</span>
                              </div>
                          </div>
                            <hr style="border-width: 2px;">

                            <div class="row">
                                <div class="col-md-3">
                                    <i class="fa fa-circle fa-sm text-green"></i> &nbsp; <span>Arun</span>
                                  </div>
                                    <div class="col-md-3">
                                        <i class="fa fa-circle fa-sm text-green"></i> &nbsp; <span>Tamil</span>
                                    </div>
                                   <div class="col-md-3">
                                  <i class="fa fa-circle fa-sm text-green"></i> &nbsp; <span>Chandran</span>
                                  </div>
                                  </div>
                              <hr>
                            <div class="row">
                              <div class="col-md-3">
                            <i class="fa fa-circle fa-sm text-green"></i> &nbsp; <span>Prem</span>
                            </div>
                            <div class="col-md-3">
                            <i class="fa fa-circle fa-sm text-green"></i> &nbsp; <span>Dinakaran</span>
                            </div>
                            </div>
                            </section>
                          </div>
                          </div>

                          <!-- Another set of info in same block -->
                          <div class="row">
                           <div class="col-md-11">
                    <section class="widget bg-white">
                      <div class="widget-details">
                        <a href="javascript:;" class="pull-left relative">
                          <img src="images/avatar.jpg" class="avatar avatar-sm img-circle bordered" alt="">
                        </a>
                      </div>
                          <div class="row">
                              <div class="col-md-4">
                                <span class="h5 bold">Flat No: 1</span> &emsp; | &emsp;
                                <span class="h5 bold">Floor No: 0</span>
                              </div>
                              <div class=" col-md-offset-3 col-md-5">
                                <span class="h5 bold">Total Residient: 5</span> &emsp; | &emsp;
                                  <span class="h5 bold">Owner: Kiran</span>
                              </div>
                          </div>
                            <hr style="border-width: 2px;">

                            <div class="row">
                                <div class="col-md-3">
                                    <i class="fa fa-circle fa-sm text-green"></i> &nbsp; <span>Arun</span>
                                  </div>
                                    <div class="col-md-3">
                                        <i class="fa fa-circle fa-sm text-green"></i> &nbsp; <span>Tamil</span>
                                    </div>
                                   <div class="col-md-3">
                                  <i class="fa fa-circle fa-sm text-green"></i> &nbsp; <span>Chandran</span>
                                  </div>
                                  </div>
                              <hr>
                            <div class="row">
                              <div class="col-md-3">
                            <i class="fa fa-circle fa-sm text-green"></i> &nbsp; <span>Prem</span>
                            </div>
                            <div class="col-md-3">
                            <i class="fa fa-circle fa-sm text-green"></i> &nbsp; <span>Dinakaran</span>
                            </div>
                            </div>
                            </section>
                          </div>
                          </div>

                            </div>
                <div class="tab-pane" id="pro">
                       <div class="row">
          <div class="col-md-10">
            <section class="widget bg-white">
              <div class="widget-details">
                <a href="javascript:;" class="pull-left relative">
                  <img src="images/avatar.jpg" class="avatar avatar-sm img-circle bordered" alt="">
                </a>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <span class="h5 bold">Flat No: 1</span> &emsp; | &emsp;
                  <span class="h5 bold">Floor No: 0</span>
                </div>
              <div class=" col-md-offset-3 col-md-5">
                <span class="h5 bold">Total Residient: 5</span> &emsp; | &emsp;
                  <span class="h5 bold">Owner: Guna</span>
              </div>
               
                </div>
                <hr style="border-width: 2px;">
                <div class="row">
                  <div class="col-md-3">
                <i class="fa fa-circle fa-sm text-green"></i> &nbsp; <span>Kani</span>
                </div>
                <div class="col-md-3">
                <i class="fa fa-circle fa-sm text-green"></i> &nbsp; <span>Tarunu</span>
                </div>
                 <div class="col-md-3">
                <i class="fa fa-circle fa-sm text-green"></i> &nbsp; <span>Pandi</span>
                </div>
                </div><hr>
                <div class="row">
                  <div class="col-md-3">
                <i class="fa fa-circle fa-sm text-green"></i> &nbsp; <span>Logan</span>
                </div>
                <div class="col-md-3">
                <i class="fa fa-circle fa-sm text-green"></i> &nbsp; <span>Franklin</span>
                </div>
                </div>
              </div>
            </section>
          </div>

                </div>
                <div class="tab-pane" id="about">
                           <div class="row">
          <div class="col-md-10">
            <section class="widget bg-white">
              <div class="widget-details">
                <a href="javascript:;" class="pull-left relative">
                  <img src="images/avatar.jpg" class="avatar avatar-sm img-circle bordered" alt="">
                </a>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <span class="h5 bold">Flat No: 1</span> &emsp; | &emsp;
                  <span class="h5 bold">Floor No: 0</span>
                </div>
              <div class=" col-md-offset-3 col-md-5">
                <span class="h5 bold">Total Residient: 5</span> &emsp; | &emsp;
                  <span class="h5 bold">Owner: Mani</span>
              </div>
               
                </div>
                <hr style="border-width: 2px;">
                <div class="row">
                  <div class="col-md-3">
                <i class="fa fa-circle fa-sm text-green"></i> &nbsp; <span>Guna</span>
                </div>
                <div class="col-md-3">
                <i class="fa fa-circle fa-sm text-green"></i> &nbsp; <span>Anitha</span>
                </div>
                 <div class="col-md-3">
                <i class="fa fa-circle fa-sm text-green"></i> &nbsp; <span>Priya</span>
                </div>
                </div><hr>
                <div class="row">
                  <div class="col-md-3">
                <i class="fa fa-circle fa-sm text-green"></i> &nbsp; <span>Charan</span>
                </div>
                <div class="col-md-3">
                <i class="fa fa-circle fa-sm text-green"></i> &nbsp; <span>Kumar</span>
                </div>
                </div>
              </div>
            </section>
          </div>
                </div>
                <div class="tab-pane" id="contacts">
                 <h3 class="text-center text-green">This block is Under Construction!</h3>
                </div>
              </div>
            </div>
          </div>
          

              
              <h4 class="bold text-center">Floor</h4>
               
                    <div class="col-md-1" style="text-align:center;">
                        <div class="text-center" style="width:70px; height:700px; border-radius: 99px; background-color:white;" >
                           <div class="btn-group-vertical">
                             
                               <a href="#" class="round-button" style=" margin-top: 20px;">9</a> <br/>
                               <a href="#" class="round-button">8</a> <br/>
                               <a href="#" class="round-button">7</a> <br/>
                               <a href="#" class="round-button">6</a> <br/>
                               <a href="#" class="round-button">5</a> <br/>
                               <a href="#" class="round-button">4</a> <br/>
                               <a href="#" class="round-button">3</a> <br/>
                               <a href="#" class="round-button">2</a> <br/>
                               <a href="#" class="round-button">1</a> <br/>
                               <a href="#" class="round-button" style=" margin-bottom: : 40px;">0</a> <br/>
                               
                                    <style type="text/css">
                                        .round-button {
                                          display:block;
                                          width:50px;
                                          height:50px;
                                          line-height:50px;
                                          border: 2px solid #f5f5f5;
                                          border-radius: 50%;
                                          color:#f5f5f5;
                                          text-align:center;
                                          text-decoration:none;
                                          background: #495469;
                                          font-size:20px;
                                          color: white;
                                          font-weight:bold;
                                      }
                                      .round-button:hover {
                                          background: seagreen;
                                          color: white;
                                      }
                                    </style>
                            </div>
                        </div>
                    </div>
                </div>
              
      
           
          
        

            