 <div class="row">
          <div class="col-md-12">
            <div class="panel mb25">
              <div class="panel-heading">
                 <button type="button" class="btn btn-success btn-xs pull-right">New Payment</button>
              </div>
              <div class="panel-body">
                <table class="table mb0">
                  <thead>
                    <tr>
                      <th class="col-md-1">
                        <span></span>ID</th>
                      <th >Name</th>
                      <th >Registered as</th>
                      <th >Transaction ID</th>
                      <th >PDF Invoice</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                      <span></span>412</td>
                      <td>MS Saran</td>
                      <td>M Communication</td>
                      <td>CH7432324IN</td>
                      <td><button type="button" class="btn btn-primary btn-xs">Download</button></td>
                    </tr>
                    <tr>
                    <td>
                      <span></span>273</td>
                      <td>Mary Jane</td>
                      <td>Spider Web</td>
                      <td>SP8734576IN</td>
                      <td><button type="button" class="btn btn-primary btn-xs">Download</button></td>
                    </tr>
                    <tr>
                   <td>
                      <span></span>583</td>
                      <td>Mark Twaine</td>
                      <td>WEB VERBOSE Inc.</td>
                      <td>VB54785457IN</td>
                      <td><button type="button" class="btn btn-primary btn-xs">Download</button></td>
                    </tr>
                    <tr>
                    <td>
                      <span></span>457</td>
                      <td>John Legend</td>
                      <td>Tiffy Kerry</td>
                      <td>FL09345632IW</td>
                      <td><button type="button" class="btn btn-primary btn-xs">Download</button></td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
            </div>
            </div>