 <div class="row">
          <div class="col-md-12">
            <div class="panel mb25">
              <div class="panel-heading"></div>
              <div class="panel-body">
                <table class="table mb0">
                  <thead>
                    <tr>
                      <th class="col-md-1">
                        <span></span>ID</th>
                      <th >Service Name</th>
                      <th >Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                      <span></span>1</td>
                      <td>Murugan</td>
                      <td><button type="button" class="btn btn-primary btn-xs">View</button></td>
                    </tr>
                    <tr>
                    <td>
                      <span></span>2</td>
                      <td>Cheran</td>
                      <td><button type="button" class="btn btn-primary btn-xs">View</button></td>
                    </tr>
                    <tr>
                   <td>
                      <span></span>3</td>
                      <td>Salman</td>
                      <td><button type="button" class="btn btn-primary btn-xs">View</button></td>
                    </tr>
                    <tr>
                    <td>
                      <span></span>4</td>
                      <td>Rohini</td>
                      <td><button type="button" class="btn btn-primary btn-xs">View</button></td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
            </div>
            </div>