        <div class="row">
          <div class="col-md-12">
            <div class="panel mb25">
              <div class="panel-heading">Check In Logs</div>
              <div class="panel-body">
                <table class="table mb0">
                  <thead>
                    <tr>
                      <th class="col-md-1">
                      <span></span>ID</th>
                      <th >Name</th>
                      <th >Registered as</th>
                      <th >To Flat</th>
                      <th >Check In</th>
                      <th >Check out</th>
                      <th >Approved by</th>
                      <th >Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                      <span></span>1</td>
                      <td>John</td>
                      <td>Resident</td>
                      <td>Flat No. 3</td>
                      <td>13:00 29/07/2017</td>
                      <td>--</td>
                      <td>Security</td>
                      <td><button type="button" class="btn btn-primary btn-xs">More</button></td>
                    </tr>
                    <tr>
                    <td>
                      <span></span>2</td>
                      <td>Mary</td>
                      <td>Maid</td>
                      <td>--</td>
                      <td>13:00 29/07/2017</td>
                      <td>14:00 29/07/2017</td>
                      <td>Security</td>
                      <td><button type="button" class="btn btn-primary btn-xs">More</button></td>
                    </tr>
                    <tr>
                   <td>
                      <span></span>3</td>
                      <td>James</td>
                      <td>Delivery Boy</td>
                      <td>Flat No. 2</td>
                      <td>13:00 29/07/2017</td>
                      <td>13:03 29/07/2017</td>
                      <td>Resident</td>
                      <td><button type="button" class="btn btn-primary btn-xs">More</button></td>
                    </tr>
                    <tr>
                    <td>
                      <span></span>4</td>
                      <td>John</td>
                      <td>Resident</td>
                      <td>Flat No. 7</td>
                      <td>13:00 29/07/2017</td>
                      <td>--</td>
                      <td>Security</td>
                      <td><button type="button" class="btn btn-primary btn-xs">More</button></td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>