 <!-- main area -->
     
       <div class="row mb25">
          <div class="col-md-6">
            <div class="panel">
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-4 col-md-offset-2">
                  <h4><strong>Visitor Directory</strong></h4>
                </div>
                <div class="col-md-5"> 
                  <button type="button" class="btn btn-primary btn-sm">Add</button> &nbsp;
                  <button type="button" class="btn btn-danger btn-sm">Delete</button>
                </div>
              </div>
              <br />
              <div class="row">
                  <div class="col-md-5  col-md-offset-2">
                      <select>
                        <option>Select Country</option>
                      </select>
                  </div>
                  <div class="col-md-3">
                      <select>
                        <option>Select State</option>
                      </select>
                  </div>
              </div>
            </div>
              <div class="panel-body col-md-offset-2"> 
                  <div class="scrollable" style="width:320px; height: 250px;  border: 1px solid gray;">
                  <p> </p>

                  <p></p>
                  </div>
              </div>
      </div>
      </div>

                   <div class="col-md-6">
            <div class="panel">
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-4 col-md-offset-2">
                  <h4><strong>Helper Directory</strong></h4>
                </div>
                <div class="col-md-5"> 
                  <button type="button" class="btn btn-primary btn-sm">Add</button> &nbsp;
                  <button type="button" class="btn btn-danger btn-sm">Delete</button>
                </div>
              </div>
              <br />
              <div class="row">
                  <div class="col-md-5  col-md-offset-2">
                      <select>
                        <option>Select Country</option>
                      </select>
                  </div>
                  <div class="col-md-3">
                      <select>
                        <option>Select State</option>
                      </select>
                  </div>
              </div>
            </div>
              <div class="panel-body col-md-offset-2"> 
                  <div class="scrollable" style="width:320px; height: 250px;  border: 1px solid gray;">
                  <p> </p>
                  </div>
              </div>
      </div>
      </div>
      </div>

      <!-- /main area -->