<div class="row">
          <div class="col-md-12">
            <div class="panel mb25">
              <div class="panel-heading">Check In Logs</div>
              <div class="panel-body">
                <table class="table mb0">
                  <thead>
                    <tr>
                      <th class="col-md-1">
                        <span></span>ID</th>
                      <th class="col-md-6">Frequent Visitors Name</th>
                      <th class="col-md-1">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                      <span></span>1</td>
                      <td>John</td>
                      <td><button type="button" class="btn btn-primary btn-xs">More</button></td>
                    </tr>
                    <tr>
                    <td>
                      <span></span>2</td>
                      <td>Mary</td>
                      <td><button type="button" class="btn btn-primary btn-xs">More</button></td>
                    </tr>
                    <tr>
                   <td>
                      <span></span>3</td>
                      <td>James</td>
                      <td><button type="button" class="btn btn-primary btn-xs">More</button></td>
                    </tr>
                    <tr>
                    <td>
                      <span></span>4</td>
                      <td>John</td>
                      <td><button type="button" class="btn btn-primary btn-xs">More</button></td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
            </div>
            </div>